{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Sekcja opisu platformy Stockstorm -->
<section style="margin-top: 2rem; padding: 1rem; background: #222; border-radius: 5px;">
    <h1>Stockstorm — Czym jest?</h1>
    <p>
        Platforma tradingowa umożliwiająca handel zarówno na giełdzie tradycyjnej, 
        jak i kryptowalut, opierająca się na osobistych, opracowanych strategiach.
    </p>

    <h2>Jak używać?</h2>
    <ul style="list-style-type: disc; margin-left: 2rem;">
        <li>Aktualnie dostępne są dwa serwisy botów tradingowych.</li>
        <li>Ważne jest, aby zadbać o wystarczający kapitał na koncie tradingowym.</li>
        <li>Przed uruchomieniem bota sprawdź poprawność nazwy aktywa (instrumentu).</li>
        <li>Wartość aktywa wpisujemy po kropce. Cena 13.42 przykład.</li>
        <li><strong>Max price</strong> należy uzupełnić o właściwą wartość także po kropce, a w polu decimal wybrać ile liczb jest po niej. </li>
        <li>Możesz sprawdzić połączenie z kontem. Jeśli wystąpi błąd 404, usuń bota i utwórz nowego.</li>
    </ul>

    <h2>Jeśli masz problem skontaktuj się na discord: desu_77</h2>
</section>
<!-- NOWY KONTENER Z GIFEM -->
<div class="gif-container">
    <img 
      src="{% static 'images/pudgy2.gif' %}" 
      alt="Pudgy GIF" 
      class="centered-gif" 
    />
  </div>
{% endblock content %}

